version: '3'

services:
  web:
    build: .
    command: bash -c "pip install --upgrade pip && pip install -r requirements.txt && python manage.py runserver 0.0.0.0:8000"
    container_name: setup
    volumes:
      - .:/setup
    ports:
      - "8000:8000"


    